---
http_interactions:
- request:
    method: get
    uri: https://leanpub.com/everydayrailsrspec.json?api_key=0FXi7m-rTBGBotSH98CMEF
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ac4713cdd6dde2ace6f68c6ae88a996c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"slug":"everydayrailsrspec","subtitle":"A practical approach to test-driven
        development","title":"Everyday Rails Testing with RSpec","total_copies_sold":3513,"total_revenue":"12345.67","author_string":"Aaron
        Sumner","url":"http://leanpub.com/everydayrailsrspec","title_page_url":"https://s3.amazonaws.com/titlepages.leanpub.com/everydayrailsrspec/original?1392171401","minimum_price":"14.0","suggested_price":"19.0","possible_reader_count":12}'
  recorded_at: Wed, 12 Feb 2014 06:07:50 GMT
- request:
    method: get
    uri: https://leanpub.com/everydayrailsrspec.json?api_key=BOGUS
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ac4713cdd6dde2ace6f68c6ae88a996c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"slug":"everydayrailsrspec","subtitle":"A practical approach to test-driven
        development","title":"Everyday Rails Testing with RSpec","total_copies_sold":3513,"total_revenue":"39857.49","author_string":"Aaron
        Sumner","url":"http://leanpub.com/everydayrailsrspec","title_page_url":"https://s3.amazonaws.com/titlepages.leanpub.com/everydayrailsrspec/original?1392171401","minimum_price":"14.0","suggested_price":"19.0","possible_reader_count":12}'
  recorded_at: Wed, 12 Feb 2014 06:20:39 GMT
[...]
- request:
    method: get
    uri: https://leanpub.com/everydayrailsrspec.json?api_key=0FXi7m-rTBGBotSH98CMEF
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ac4713cdd6dde2ace6f68c6ae88a996c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"slug":"everydayrailsrspec","subtitle":"A practical approach to test-driven
        development","title":"Everyday Rails Testing with RSpec","total_copies_sold":3513,"total_revenue":"39857.49","author_string":"Aaron
        Sumner","url":"http://leanpub.com/everydayrailsrspec","title_page_url":"https://s3.amazonaws.com/titlepages.leanpub.com/everydayrailsrspec/original?1392171401","minimum_price":"14.0","suggested_price":"19.0","possible_reader_count":12}'
  recorded_at: Wed, 12 Feb 2014 06:21:20 GMT
recorded_with: VCR 2.6.0
