---
http_interactions:
- request:
    method: get
    uri: https://leanpub.com/<LEANPUB_BOOK_SLUG>.json?api_key=<LEANPUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1ad41ab72329fc3914991bdc9c94ae44"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"slug":"<LEANPUB_BOOK_SLUG>","subtitle":"A practical approach to test-driven
        development","title":"Everyday Rails Testing with RSpec","total_copies_sold":3513,"total_revenue":"12345.67","author_string":"Aaron
        Sumner","url":"http://leanpub.com/<LEANPUB_BOOK_SLUG>","title_page_url":"https://s3.amazonaws.com/titlepages.leanpub.com/<LEANPUB_BOOK_SLUG>/original?1392171401","minimum_price":"14.0","suggested_price":"19.0","possible_reader_count":12}'
  recorded_at: Thu, 13 Feb 2014 05:41:53 GMT
recorded_with: VCR 2.6.0
