---
http_interactions:
- request:
    method: get
    uri: https://leanpub.com/<LEANPUB_BOOK_SLUG>/sales.json?api_key=<LEANPUB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"64209636cfbe12942dd4c85877804afa"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"book":"<LEANPUB_BOOK_SLUG>","url":"https://leanpub.com/<LEANPUB_BOOK_SLUG>","total_author_royalties":"23456.78","total_book_royalties":"3456.78","num_happy_readers":3534,"num_happy_paid_purchases":3522,"num_refunded_purchases":12,"unpaid_royalties":"1208.75","royalties_currently_due":"0.0","royalties_due_on_first_of_next_month":"1208.75","paid_royalties":"12345.67"}'
  recorded_at: Mon, 17 Feb 2014 01:12:25 GMT
recorded_with: VCR 2.6.0
